<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="welcome.css" />
  </head>
  <body>
    <main>
      <img
        src="https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501__340.jpg"
        alt=""
      />
      <h3>Welcome To SendIt</h3>
      <p>Dear <%=name%>,</p>
      <p>
        We're are excited to have you stay with us! Visit our website regularly
        and find opportunities to make your visit an amazing one.
      </p>
    </main>
  </body>
</html>
