<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENDiT</title>
  </head>
  <body>
    <main>
      <h3>Welcome To SendIt</h3>
      <p>Dear <%=name%>,</p>
      <p>Welcome to SENDiT <%=name%>, we're excited to have you onboard.</p>
    </main>
  </body>
</html>
